.api-container-scheduler {
  display: flex;
}
.api-container-scheduler .api-scheduler-board {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid black;
}
.api-container-scheduler .api-scheduler-block {
  width: 500px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
